@use "global" as *;

.c-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: $black;
  height: 100%;
}

.c-card__img {
  aspect-ratio: 335 / 223;
  overflow: hidden;
}

.c-card__body {
  padding: rem(4) rem(23) rem(16);
}

.c-card__title {
  font-size: rem(18);
}

.c-card__text {
  margin-top: rem(4);
  font-size: rem(14);
}

.c-card__meta {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 rem(23) rem(16); 
}

.c-card__category {
  background-color: #FFEA2E;
}
.c-card__date {

}