<div class="p-card">
  <div class="p-card__img">
    <img src="../assets/images/common/dummy.jpg" alt="ダミー画像">
  </div>
  <div class="p-card__body">
    <h3 class="p-card__title"><%= title %></h3>
    <p class="p-card__text"><%= text %></p>
  </div>
</div>