
<div class="p-blog">
  <div class="p-blog__inner l-inner">
    <div class="p-blog__title">
      <%- include('../component/_c-title',{ja:"ブログ", en:"blog", position:'right'} ) %>
    </div>
    <div class="p-blog__items">
      <%- include('../project/_p-cards') %>
    </div>
    <div class="p-blog__btn">
    <%- include('../component/_c-btn',{position:"", link:"", text:"詳しく見る"} ) %>
    </div>
  </div>
</div>