<% let items = [ 
  {title: '経営理念ページへ', img: '1'}, 
  {title: '理念1', img: '2'}, 
  {title: '理念2', img: '3'}, 
  {title: '理念3', img: '4'}
 ] %>

<div class="p-content-card">
  <div class="p-content-card__items">
    <% for (var item of items) { %>
    <div class="p-content-card__item">
      <img src="./assets/images/common/content_<%= item.img %>.jpg" alt="カードの画像" />
      <p class="p-content-card__title"><%= item.title %></p>
    </div>
    <% }; %>
  </div>
</div>
