<div class="p-contact">
  <div class="p-contact__inner l-inner">
    <div class="p-contact__title">
    <%- include('../component/_c-title',{ja:"お問い合わせ", en:"contact", position:''} ) %>
    </div>
    <div class="p-contact__text">
      <%- include('../component/_c-text', {text: 'テキストが入ります。テキストが入ります。'} ) %>
    </div>
    <div class="p-contact__btn">
      <%- include('../component/_c-btn',{position:"", link:"", text:"お問い合わせ"} ) %>
  </div>
</div>