<!-- 有効な色のリストを定義 -->
<% const positions = ['reverse']; %>
<!-- prettier-ignore -->
<% const positionClass = positions.includes(position) ? ` p-common-box__items--${position}` : ''; %>
<div class="p-common-box l-inner">
  <div class="p-common-box__items<%- positionClass %>">
    <div class="p-common-box__item-img">
      <% if(type === 'img' ) {%>
      <!-- img -->
      <div class="p-common-box__img">
        <img src="./assets/images/common/overview_1.jpg" alt="企業概念の画像">
      </div>
      <% } else {%>
      <!-- swiper -->
      <div class="p-common-box__swiper">
        <div class="swiper js-works-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./assets/images/common/swiper_1.jpg" alt="企業概念の画像">
            </div>
            <div class="swiper-slide">
              <img src="./assets/images/common/swiper_2.jpg" alt="企業概念の画像">
            </div>
            <div class="swiper-slide">
              <img src="./assets/images/common/swiper_3.jpg" alt="企業概念の画像">
            </div>
          </div>
        </div>
        <div class="swiper-pagination js-works-pagination"></div>
      </div>
      <% }%>
    </div>
    <div class="p-common-box__item-text">
      <h3 class="p-common-box__title">タイトルが入ります</h3>
      <div class="p-common-box__text"><%- include('../component/_c-text', {text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'} ) %></div>
      <div class="p-common-box__btn"><%- include('../component/_c-btn',{position:"", link:"", text:"すべて見る"} ) %></div>
    </div>
  </div>
</div>
