
<div class="p-conetnt">
  <div class="p-content__title l-inner">
    <%- include('../component/_c-title',{ja:"事業内容", en:"content", position:''} ) %>
  </div>
  <div class="p-content__content">
    <%- include('../project/_p-content-card') %>
  </div>
</div>