<div class="p-mv">
  <div class="p-mv__inner">
    <div class="swiper js-mv-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./assets/images/common/mv_1.jpg" alt="メインビューの画像" />
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/common/mv_2.jpg" alt="メインビューの画像" />
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/common/mv_3.jpg" alt="メインビューの画像" />
        </div>
      </div>
    </div>
    <div class="p-mv__title">
      <h2 class="p-mv__title-main">メインタイトルが入ります</h2>
      <p class="p-mv__title-sub">サブタイトルが入ります</p>
    </div>
  </div>
</div>
