<div class="p-news">
  <div class="p-news__inner l-inner">
    <div class="p-news__meta">
      <time datetime="2023-04-15" class="p-news__date">2023.04.15</time>
      <div class="p-news__label">お知らせ</div>
    </div>
    <div class="p-news__text">
      <a href="">テキストテキストテキストテキストテキストテキスト</a>
    </div>
    <div class="p-news__btn">
      <%- include('../component/_c-btn',{position:"news", link:"", text:"すべて見る"} ) %>
    </div>
  </div>
</div>