
<div class="p-overview">
  <div class="p-overview__title l-inner">
    <%- include('../component/_c-title',{ja:"企業概要", en:"overview", position:''} ) %>
  </div>
  <div class="p-overview__content">
    <%- include('../project/_p-common-box', {position: 'reverse', type:'img' }) %>
  </div>
</div>