
<div class="p-works">
  <div class="p-works__title l-inner">
    <%- include('../component/_c-title',{ja:"制作実績", en:"works", position:'right'} ) %>
  </div>
  <div class="p-works__content">
    <%- include('../project/_p-common-box',{position: '', type:'' }) %>
  </div>
</div>