<div class="c-card">
  <div class="c-card__img">
    <img src="./assets/images/common/card_<%= i %>.jpg" alt="カードの画像">
  </div>
  <div class="c-card__body">
    <h3 class="c-card__title">タイトルが入ります。タイトルが入ります。</h3>
    <p class="c-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
  </div>
  <div class="c-card__meta">
    <div class="c-card__category">カテゴリ</div>
    <time datetime="2023-04-15" class="c-card__date">2023.4.15</time>
  </div>
</div>